body{
	background: radial-gradient(circle, #ccff99 20%, #ccc);
	height: 100vh;
}

#calculator{
	max-width: 400px;
	padding: 20px 20px 9px;
	margin-top: 100px;
	background-color: #9dd2ea;
	background: linear-gradient(#9dd2ea, #8bceec);
	border-radius: 5px;
	box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0,0,0,.2);
}

.screen{
	width: 100%;
	padding: 0 10px;
	background: rgba(0,0,0,.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0,0,0,.2);
	margin-left: 19px;
	color: white;
}

.clear{
	background: #ff0066;
	box-shadow: 0px 0px #ff7c87;
	width: 50px;
	margin: 0px 20px 20px 0;
	color: white;
}

.number, .operator{
	height: 36px;
	width: 66px;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 4px rgba(0,0,0,.2);
	margin: 0 7px 11px 0;
	color: #888;
	user-select: none;
	
}
.operator{
	background-color: orange;
	color: black;
}















